/*----------------------------------------
	ADVANTAGES
----------------------------------------*/
.advantages {
	background-color: #f0f1f8;
	padding: 66px 0 76px;
	position: relative;
	
	&:after {
		content: "";
		display: block;
		bottom: 0;
		background: url("../images/advantages-back.png") no-repeat;
		width: 100%;
		height: 565px;
		position: absolute;
	}

	.icon {
		height: 86px;
		width: 100%;
	}
	
	@media (max-width: 979px) {
		padding: 62px 0 80px;					
		.h2 {
			line-height: 54px;
		}
	}

	@media (max-width: 639px) {					
		padding: 38px 0 49px;
		.h2 {
			line-height: 32px;
		}
	}

}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 62px;

	@media (max-width: 979px)  {			
		width: 70%;
		margin: 41px auto 0 auto;
	}
	@media (max-width: 767px)  {			
		width: 100%;
		margin: 27px auto 0 auto;
	}
}

.advantages-item {
	width: 49%;
	height: 160px;
	background: $color-white;	
	margin-bottom: 30px;
	box-sizing: border-box;	
	box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);

	.icon {
		z-index: 5;
	}


	@media (max-width: 1279px) {				
		width: 47%;
		max-height: 165px;
	}
	@media (max-width: 979px) {				
		width: 99%;	
		margin-bottom: 20px;	
	}

	@media (max-width: 639px) {		
		max-height: 110px;	
		margin-bottom: 10px;	
	}

	&:nth-child(2n-1) {
		border-left: 170px solid $color-main;
		@media (max-width: 979px) {		
			border-left: 126px solid $color-main;
		}
		
		@media (max-width: 639px) {		
			border-right: 10px solid $color-main;
			border-left: 10px solid $color-main;	
		}
	}

	&:nth-child(2n) {
		margin-left: 22px;
		border-right: 170px solid $color-main;
		.advantages-item__text {
			margin: 26px 22px 26px 57px;
		}


		@media (max-width: 980px) {					
			margin-left: 0;	
			border-right: 126px solid $color-main;				
		}
		@media (max-width: 639px) {		
			border-right: 10px solid $color-main;
			border-left: 10px solid $color-main;
			.advantages-item__text {
				margin: 0;
			}	
		}
	}		
}

.svg-employee-after,
.svg-list-with-squares-after,
.svg-data-after,
.svg-graphic-design-after,
.svg-communication-after,
.svg-bar-chart-after {
	position: relative;
}

.svg-employee-after:after,
.svg-list-with-squares-after:after,
.svg-data-after:after
 {	
	content: '';
	background-size: 86px;
	background-repeat: no-repeat;
    display: block;
    width: 86px;
    height: 86px;
	position: absolute;
	left: -127px;
	top: 39px;	

	
	@media (max-width: 979px) {
		top: 43px;
    	left: -105px;
	}
	
	@media (max-width: 639px) {		
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 12px;
		opacity: 0.1;
		z-index: 1;		
	}
}

.svg-graphic-design-after:after,
.svg-communication-after:after,
.svg-bar-chart-after:after {
	content: '';
	background-size: 86px;
	background-repeat: no-repeat;
    display: block;
    width: 86px;
    height: 86px;
	z-index: 5;
	position: absolute;
	right: -127px;
	top: 39px;

	@media (max-width: 979px) {
		top: 37px;
    	right: -105px;
	}

	@media (max-width: 639px) {		
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 12px;	
		opacity: 0.1;	
		z-index: 1;	
	}
}

.advantages-img {
	width: 170px;
	height: 100%;
	background-color: $color-main;
	display: inline-block;
}

.advantages-item__text {
	width: auto;
	margin: 26px 57px 26px 22px;	
	display: flex;	
	vertical-align: top;
	align-items: center;
	overflow: hidden;
	height: 108px;
	@media (max-width: 639px) {		
		padding: 5px 10px;
		@include font-size(13px);	
		margin: 0;
		text-align: center;
	}
}




/* end advantages */