/*----------------------------------------
	CASES
----------------------------------------*/
.cases {
  background: #f0f1f8;
  padding: 66px 0 108px;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 737px;
    background: url("../images/cases-back.png") no-repeat;
  }

  .icon {
    color: $color-white;
    width: 65px;
    height: 49px;
    display: block;
    margin: 15px auto 0;
    opacity: 0.3;
  }

  @media (max-width: 979px) {
    padding: 61px 0 133px;
  }
  @media (max-width: 639px) {
    padding: 34px 0 29px;
  }
}

.cases-slider {
  .slick-dots {
    bottom: -36px;
    li {
      margin: 0 17px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: 979px) {
      bottom: -62px;
    }
    @media (max-width: 639px) {
      bottom: 30px;
      li {
        width: 12px;
        height: 12px;
      }
    }
  }

  .slick-dots li button:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-color: $color-main;
    border-radius: 50%;
    @media (max-width: 639px) {
      width: 12px;
      height: 12px;
    }
  }
  .slick-prev {
    background: $color-main;
    width: 49px;
    height: 49px;
    z-index: 3;
    top: 45%;
    transition: 0.3s linear;
    box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);
    &:before {
      content: "";
      display: inline-block;
      background: url("../images/arrow-prev.svg") no-repeat;
      width: 9px;
      height: 15px;
      background-position: 50%;
    }
    &:hover {
      background: $color-main-hover;
    }
    &:active {
      background: $color-main-active;
    }

    @media (max-width: 979px) {
      top: 55%;
    }
    @media (max-width: 639px) {
      top: 50%;
    }
  }

  .slick-next {
    background: $color-main;
    width: 49px;
    height: 49px;
    top: 45%;
    transition: 0.3s linear;
    box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);
    &:before {
      content: "";
      display: inline-block;
      background: url("../images/arrow-next.svg") no-repeat;
      width: 9px;
      height: 15px;
      background-position: 50%;
    }
    &:hover {
      background: $color-main-hover;
    }
    &:active {
      background: $color-main-active;
    }

    @media (max-width: 979px) {
      top: 55%;
    }
    @media (max-width: 639px) {
      top: 50%;
    }
  }
  @media (max-width: 1023px) {
    width: 505px;
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 979px) {
    margin-top: 38px;
  }

  @media (max-width: 639px) {
    width: 100%;
    margin-top: 28px;
  }
}

.cases-slider .slick-list .slick-slide .cases-item {
  display: flex !important;
  justify-content: center;
  width: 100%;
  height: 336px;
  overflow: hidden;
  align-items: center;

  div {
    margin-right: 22px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 639px) {
    height: 576px;
    flex-direction: column;

    div {
      margin-right: 0;
    }
  }
}

.cases-img-1 {
  background: url("../images/cases-diagram.png") no-repeat #aaacbe;
  background-position: 49% 67%;
  color: $color-white;
  @media (max-width: 1023px) {
    margin-top: 33px;
    background-size: 80px 81px;
    background-position: 63px 90px;
  }

  @media (max-width: 639px) {
    margin-top: 24px;
  }
}

.cases-img-2 {
  background: url("../images/cases-diagram-2.png") no-repeat #42456c;
  background-position: 49% 67%;
  color: $color-white;
  @media (max-width: 1023px) {
    margin-top: 33px;
    background-size: 80px 81px;
    background-position: 63px 90px;
  }
  @media (max-width: 639px) {
    margin-top: 15px;
  }
}

.cases-img {
  width: 266px;
  height: 267px;
  padding: 34px 18px;
  position: relative;

  @media (max-width: 1023px) {
    width: 206px;
    height: 206px;
    padding: 32px 18px;
  }

  .cases-item__title {
    color: $color-white;
    text-align: center;      
  }

  span {
    @include font-size(12px);
    position: absolute;

    @media (max-width: 1023px) {
      height: 26px;
      @include font-size(12px);
      width: 35px;
      display: block;
      margin-right: 2px;
      overflow: hidden;
      white-space: nowrap;
      &:after {
        content: ".";
        display: inline;
        font-size: 18px;
      }
    }

    &.cases-item__value1 {
      top: 76px;
      left: 35px;
      @media (max-width: 1023px) {
        top: 65px;
        left: 53px;
      }
    }
    &.cases-item__value2 {
      top: 76px;
      left: 150px;
      @media (max-width: 1023px) {
        top: 65px;
        left: 120px;
      }
    }
    &.cases-item__value3 {
      top: 171px;
      left: 18px;
      @media (max-width: 1023px) {
        top: 129px;
        left: 30px;
      }
    }
    &.cases-item__value4 {
      top: 171px;
      left: 198px;
      @media (max-width: 1023px) {
        top: 129px;
        left: 148px;
      }
    }
    &.cases-item__value5 {
      top: 221px;
      left: 99px;
      @media (max-width: 1023px) {
        top: 167px;
        left: 84px;
      }
    }
  }
}

.cases-item__title {
  margin: 0;
}

.cases-item__text {
  line-height: 28px;
  @media (max-width: 1023px) {
    display: none;
  }
}

.cases-content {
  width: 554px;
  padding: 34px 116px 34px 75px;
  height: 267px;
  background-color: $color-white;
  position: relative;
  @media (max-width: 1023px) {
    position: absolute;
    width: 505px;
    height: 336px;

    .cases-item__title {
      text-align: center;
    }
  }

  @media (max-width: 639px) {
    width: 280px;
    height: 576px;
    padding: 24px;
    .cases-item__title {
      @include font-size(18px);
      line-height: 26px;
    }
  }
}

.cases-item__dow {
  background: $color-main;
  width: 98px;
  height: 98px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s linear;
  &:hover {
    background: $color-main-hover;
  }
  &:active {
    background: $color-main-active;
  }
  a:hover {
    color: $color-white;
  }
  @media (max-width: 1023px) {
    display: none;
  }
}

.doc-text {
  padding: 0;
  display: inline-block;
  width: 100%;
  @include font-size(14px);

  text-align: center;
}

//* end cases  */
