/*----------------------------------------
	RESULT
----------------------------------------*/
.content {
    padding: 67px 0 99px;
    text-align: center;

    .icon {
        height: 74px;
        width: 100%;
        color: $color-main;
        margin: 0 auto;
        @media (max-width: 639px) {   
            height: 86px;                     
        }
    }    

    .subtitle {
        width: 1002px;
        @media (max-width: 979px) {	
            width: 95%;
            margin: 28px auto 41px;
        }
        @media (max-width: 639px) {            
            margin: 20px auto 24px;
        }
    }

    @media (max-width: 979px) {
        padding: 58px 0 99px;
        .btn {
            margin-top: 40px;
        }
    }
    @media (max-width: 639px) {
        padding: 34px 0 60px;
        .btn {
            margin-top: 9px;
        }
    }
}

.content-list {
    display: flex;
    margin: 41px 0 60px;
    width: 100%;
    justify-content: center;

    @media (max-width: 1239px) {	
        flex-wrap: wrap;
        width: 768px;
        margin: 0 auto;
    }

    @media (max-width: 979px) {	
        flex-wrap: wrap;
        width: 100%;
    }

    .slick-dots {
        bottom: -77px;
        @media (max-width: 639px) {
			bottom: -10px;
			li {
				margin: 0 10px 0 0;			
				width: 12px;
				height: 12px;
				&:last-child {
					margin-right: 0;
				}
				button:before {
					width: 12px;
					height: 12px;
				}	
			}		
		}
    }

    .slick-dots li button:before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        background-color: $color-main;
        border-radius: 50%;
    }

    .slick-prev {
        background: $color-main;
        width: 49px;
        height: 49px;
        z-index: 3;
        top: 45%;
        transition: .3s linear;
        box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);
        &:before {
            content: "";
            display: inline-block;
            background: url("../images/arrow-prev.svg") no-repeat;
            width: 9px;
            height: 15px;
            background-position: 50%;
        }
        &:hover {
            background: $color-main-hover;
        }
        &:active {
            background: $color-main-active;
        }
    }

    .slick-next {
        background: $color-main;
        width: 49px;
        height: 49px;
        top: 45%;
        transition: .3s linear;
        box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);
        &:before {
            content: "";
            display: inline-block;
            background: url("../images/arrow-next.svg") no-repeat;
            width: 9px;
            height: 15px;
            background-position: 50%;
        }
        &:hover {
            background: $color-main-hover;
        }
        &:active {
            background: $color-main-active;
        }
    }
}

.content-item {
    background-color: #f4f7f8;
	width: 266px;
	height: 396px;
	padding: 50px 34px;
    text-align: center;
    margin-right: 22px;
    overflow: hidden;
    
    &:last-child {
        margin-right: 0;
        @media (max-width: 1239px) {	
            margin-right: 22px;
        }
        @media (max-width: 979px) {	
            margin-right: 16px;
        }
    
    }

    @media (max-width: 1239px) {	
        width: 48%;
        margin-bottom: 22px;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media (max-width: 979px) {	
        width: 47%;
        margin-right: 16px;
        margin-bottom: 20px;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media (max-width: 639px) {	
        padding: 30px 41px;
        width: 80%;
        height: 290px;
        margin-bottom: 20px;
        &:nth-child(n) {
            margin-right: 0;
        }
    }
    
}


.content-item__title {
    position: relative;
    width: 165px;
    margin: 35px auto 26px;
    padding-bottom: 24px;
    line-height: 30px;    
    vertical-align: middle;
    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 74px;
        height: 2px;
        margin: 0 auto;
        background: #d2b777;
    }

    @media (max-width: 639px) {	
        @include font-size (18px);
        margin: 12px auto 11px;
        padding-bottom: 9px;
        &:after {
            width: 48px;
        }
    }
}

.content-item__text {
    max-height: 89px;
    margin: 0 0 39px 0 ;
    overflow: hidden;
    @media (max-width: 639px) {	
        @include font-size (13px);
        line-height: 21px;       
        margin: 0 0 47px 0 ;
    }
}


/* end result */