/*----------------------------------------
	SERVICES
----------------------------------------*/
.first-screen {
  background: url("../images/first-screen-img.jpg") no-repeat;
  min-height: 900px;
  position: relative;
  background-size: cover;
  background-position-x: 100%;
  &:after, &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #444696 0%, rgba(68, 70, 150, 0.2) 100%);
    opacity: 0.7;
  }

  &:before {
    background-image: linear-gradient(to top, #424473 0%, rgba(66, 68, 115, 0.99) 1%, rgba(77, 79, 132, 0) 100%);    
  }

  .container {
    height: 900px;
  }

  @media (max-width: 979px) {
    min-height: 850px;
    height: 850px;
  }
  @media (max-width: 639px) {
    min-height: 569px;
    height: 569px;
  }
}

.first-screen-content {
  width: 643px;
  margin-left: 10px;
  position: absolute;
  color: $color-white;
  z-index: 5;
  top: 24%;
  left: 0;
  right: 0;

  .span {
    font-weight: 400;
    font-style: normal;
  }

  .btn {
    margin: 40px 0 0 0;
  }

  @media (max-width: 979px) {
    text-align: center;
    margin: 0 auto;
    width: 85%;
    top: 129px;    
    .btn {
      margin: 20px 0 0 0;
      @media (max-width: 639px) {
        height: 60px;
      }
    }
  }

  @media (max-width: 639px) {
    width: 100%;
    max-width: 100%;
    padding: 0 22px;
    top: 105px;

    .btn {
      margin-top: 22px;
    }
  }
}

.first-screen-content__subtitle {
  color: $color-main;
  text-transform: uppercase;
  @include font-size(18px);
  font-weight: 500;

  @media (max-width: 979px) {
    max-width: 100%;
    width: 100%;    
    margin-bottom: 14px;
  }

  @media (max-width: 639px) {
    @include font-size(10px);    
    max-width: 100%;
    width: 100%;
  }
}

.first-screen-content__title {
  position: relative;
  padding-left: 31px;
  margin-bottom: 33px;
  &:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 95%;
    background-color: $color-main;
    bottom: 0;
    left: 0;
  }

  @media (max-width: 979px) {
	padding: 0;
	padding-bottom: 29px;
	margin: 0;
    line-height: 66px;
    &:after {
      width: 175px;
      height: 5px;
      bottom: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  @media (max-width: 639px) {
    @include font-size(30px);
    line-height: 36px;
    padding-bottom: 18px;
    &:after {
	  bottom: 0;
	  height: 3px;
	  width: 80px;
    }
  }
}

.first-screen-content__text {
  line-height: 32px;
  max-width: 510px;
  @media (max-width: 979px) {
    margin: 41px auto;
    line-height: 30px;
    max-width: 100%;
    width: 100%;
  }

  @media (max-width: 639px) {
    margin-top: 18px;
    margin-bottom: 0;
    @include font-size(13px);
    line-height: 23px;
  }
}

/* end services */
