// /*==========================================================================
// 	 FOOTER
// 	 ========================================================================== */

footer {
  background-color: #ebecf4;
  padding: 64px 0 0;
  .h2 {
    position: relative;
    margin: 0;

    @media (max-width: 639px) {
        padding-bottom: 19px;     
    }
  }

  @media (max-width: 639px) {
    padding: 34px 0 0;    
  }

  .contacts__text {
    margin: 35px 0;
    display: block;
    width: 100%;
    text-align: center;
    @media (max-width: 767px) {
      width: 37%;
      text-align: left;
      margin: 20px 10px 20px 0;
      line-height: 27px;
    }

    @media (max-width: 639px) {
      width: 100%;
      text-align: center;
      margin: 20px 0 23px 0;
      @include font-size (13px);
      line-height: 22px;
    }
  }

  .icon {
    color: $color-main;
  }
}

.contacts {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;

  @media (max-width: 767px) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 454px;
    margin-top: 23px;
    width: 551px;
  }
  @media (max-width: 639px) {
    margin-top: 0;
    width: 100%;
    height: 282px;
  }
}

.contacts-wrapper {
  width: 20%;
  a {
    display: block;
    font-weight: 500;
    @include font-size(21px);
    margin-bottom: 11px;
  }

  @media (max-width: 1239px) {
    width: 24%;
    a {
      @include font-size(18px);
    }
  }

  @media (max-width: 979px) {
    a {
      @include font-size(16px);
    }
  }

  @media (max-width: 767px) {
    margin-top: 84px;
    width: 217px;
    a {
      @include font-size(21px);
    }
  }

  @media (max-width: 639px) {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}

.form {
  position: relative;
  width: 746px;

  @media (max-width: 1023px) {
    width: 555px;
    .btn {
      min-width: 268px;
    }
  }
  @media (max-width: 979px) {
    width: 540px;
  }

  @media (max-width: 767px) {
    width: auto;
  }

  @media (max-width: 639px) {
    display: none;
  }
}

.form-group-top {
  display: flex;
  flex-direction: column;
  height: 192px;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  input {
    margin-right: 21px;
  }

  @media (max-width: 1239px) {
    input {
      margin-right: 16px;
    }
  }

  @media (max-width: 767px) {
    align-items: flex-end;
    height: 152px;
    height: 304px;
    justify-content: flex-start;
    input {
      margin-right: 0;
    }
  }
}

.form-group-bottom {
  height: 77px;
  display: block;
  width: 100%;
  @media (max-width: 767px) {
    
    margin-top: 10px;
    width: 268px;
    .btn {
      min-width: 268px;
    }
  }
}

.form-wrapper {
  margin-left: 100px;
  padding-top: 5px;

  .btn {
    margin: 0;
  }

  @media (max-width: 1239px) {
    margin-left: 0;
    margin-left: 65px;
  }
  @media (max-width: 979px) {
    margin-left: 65px;
  }
}

h3.contcts-title {
  @include font-size(36px);
  margin-top: 0;
  margin-bottom: 30px;   
  @media (max-width: 767px) {
    margin-bottom: 19px;
  }
  @media (max-width: 639px) {
    display: none;
  }
}

.copyright {
  margin-top: 108px;
  min-height: 100px;
  background-color: #222222;
  text-align: center;
  @media (max-width: 639px) {
    margin-top: 50px;
    min-height: 50px;
  }
}

.copyright-text {
  font-family: "Proxima Nova";
  display: inline-block;
  width: auto;
  color: $color-white;
  margin-top: 40px;
  @include font-size(14px);
  @media (max-width: 639px) {
    @include font-size(10px);
    margin-top: 21px;
    opacity: 0.5;
  }
}

.contacts-tel,
.contacts-mail {
  position: relative;
  display: inline-block;
  transition: 0.3s linear;

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 17px;
    vertical-align: top;
    color: #444969;
    transition: 0.3s linear;
  }

  a {
    margin-bottom: 5px;
  }

  &:hover a,
  &:hover .icon {
    color: $color-secondary-hover;
  }

  @media (max-width: 639px) {
    margin: 0 auto;
    width: 280px;
    border-radius: 28px;
    background-color: $color-main;
    height: 56px;
    vertical-align: middle;
    margin-bottom: 15px;

    a {
      line-height: 56px;
      text-transform: uppercase;
      @include font-size(16px);
    }

    .icon {
      margin-right: 14px;
      vertical-align: middle;
      color: $color-text;
      transition: 0.3s linear;
    }

    &:hover {
        background-color: $color-main-hover;
    }



    &:hover a,
    &:hover .icon {
      color: $color-text;
    }
  }
}

.contacts-mail {
  @media (max-width: 639px) {
    background-color: $color-secondary;
    a {
      color: $color-white;
    }
    .icon {
      color: $color-white;
    }

    &:hover {
      background-color: $color-secondary-hover;
    }

    &:hover a,
    &:hover .icon {
      color: $color-white;
    }
  }
}

.list-social {
  display: inline-block;
  padding: 0;
  max-height: 36px;
  margin-top: 16px;

  li {
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 0;
    vertical-align: top;
    margin-right: 28px;
    a {
      font-size: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1239px) {
      margin-right: 21px;
    }
    
  }
  .icon {
    transition: 0.3s linear;
    &:hover {
      color: $color-main-hover;
    }
    &:active {
      color: $color-main-active;
    }
  }

  @media (max-width: 979px) {
    margin-top: 33px;

    li {
      width: 48px;
      height: 48px;
      .icon {        
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 639px) {
    display: block;
    margin-top: 6px;
  }
}

// /* end footer */
