/* ==========================================================================
   HEADER
   ===========================================================================*/
header {
	padding: 18px 0;
	position: absolute;
	top: 0;
	z-index: 500;
	width: 100%;
	transition: 0.375s linear;

	@media (max-width: 979px) {
		padding: 14px 0 12px;
		background-color: #1f1f1f;

		.btn {
			display: none;
		}
	}	

	@media (max-width: 639px) {
		padding: 3px 0 2px;
	}

	&.glide {
		position: fixed;
		background-color: $color-secondary;
		box-shadow: 0 10px 30px #888888;
		background-color: #1f1f1f;
		left: 0;
		right: 0;
		margin: 0 auto;
		

	}
}

.container-header {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1920px;
	@media (max-width: 639px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

body.menu_open {
	overflow: hidden;
}

.btn-menu {
	display: none;

	@media (max-width: 979px) {
		display: block;
		font-size: 0;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.icon-menu {
		color: $color-main;
		width: 52px;
		height: 35px;
		@media (max-width: 639px) {
			width: 34px;
			height: 24px;
		}
	}
	@media (max-width: 639px) {
		width: 34px;
		padding: 0;
	}
}

.header-right-panel-btn-message {
	display: none;

	@media (max-width: 979px) {
		display: block;
		font-size: 0;
		background-color: transparent;
		border: none;
		outline: none;
		width: 55px;
		height: 48px;
	}

	@media (max-width: 639px) {
		display: none;
	}

	.icon-black-back-closed-envelope-shape {
		color: $color-main;
		width: 100%;
		height: 48px;		
		&:hover {
			color: $color-main-active;
		}
	}
}

// .header-right-panel-btn-tel {
// 	display: none;

// 	@media (max-width: 639px) {
// 		display: block;
// 		font-size: 0;
// 		background-color: transparent;
// 		border: none;
// 		outline: none;
// 	}

	
// }

.header-call {
	display: none;
	cursor: pointer;
	@media (max-width: 639px) {	
		display: inline-block;
		width: 24px;
		height: 24px;
		transform: scale(-1, 1);
	}
	.icon-call {
		color: $color-main;
		width: 24px;
		height: 24px;
		&:hover {
			color: $color-main-active;
		}

	}
}

.menu__close {
	display: none;
	@media (max-width: 979px) {
		display: block;
		position: absolute;
		background: transparent;
		outline: none;
		border: none;
		top: 20px;
		right: 20px;
		@include font-size(22x);
		padding: 0;
		margin: 0;
	}
	.icon {
		color: #525252;
		width: 19px;
		height: 22px;
		&:hover {
			color: #888888;
		}
		@media (max-width: 639px) {
			width: 11px;
			height: 12px;
		}
	}
	@media (max-width: 639px) {
		right: 15px;
		width: 11px;
		height: 12px;
		top: 4px;
	}
}

.logo {
	font-family: "Open Sans";
	width: auto;
	white-space: nowrap;
	@include font-size(30px);
	display: inline-block;

	@media (max-width: 1919px) {
		@include font-size(25px);
	}
	@media (max-width: 1239px) {
		@include font-size(18px);
	}

	@media (max-width: 979px) {
		@include font-size(24px);
		margin-left: auto;
		width: 100%;
		text-align: center;
	}

	@media (max-width: 639px) {
		@include font-size(12px);
	}

	&:hover {
		color: $color-white;
	}
}

.menu {
	display: flex;
	width: auto;
	margin-left: 67px;
	position: relative;

	@media (max-width: 1919px) {
		margin-left: 108px;
	}

	@media (max-width: 1280px) {
		margin-left: 25px;
	}

	@media (max-width: 979px) {
		position: fixed;
		top: 75px;
		left: -311px;
		transform: translateX(100%);
		display: block;
		margin-right: 0;
		background-color: #1f1f1f;
		opacity: 0;
		width: 312px;
		text-align: left;
		transition: .375s;
		margin-left: 0;
		padding: 47px 0;
		transform: translateX(0);
		min-height: 775px;

		&.menu_open {
			opacity: 1;
			display: block;
			transition: 0, 3s linear;
			transform: translateX(100%);
		}
	}

	@media (max-width: 639px) {
		width: 170px;
		min-height: 458px;
		left: -172px;
		padding: 22px 0;
		top: 53px;
	}

	li {
		display: inline-block;
		width: auto;
		padding-left: 27px;

		@media (max-width: 1919px) {
			padding-left: 18px;
		}
		@media (max-width: 1239px) {
			padding-left: 7px;
		}
		@media (max-width: 979px) {
			width: 100%;
			padding: 15px 44px;
			border-bottom: 1px solid rgba(98, 98, 98, 0.2);
			&:last-child {
				border: none;
			}
		}
		@media (max-width: 767px) {
			padding: 12px 20px;
		}

		a {
			@include font-size(18px);

			@media (max-width: 1919px) {
				@include font-size(16px);
			}
			@media (max-width: 1239px) {
				@include font-size(14px);
			}
			@media (max-width: 979px) {
				@include font-size(21px);
			}
			@media (max-width: 639px) {
				@include font-size(13px);
			}
		}
	}
}

.header-right-panel {
	margin-left: auto;
	position: relative;
	padding-left: 94px;
	@media (max-width: 979px) {
		padding-left: 0;
	}
}

.language-select {
	position: absolute;
	top: 0;
	right: 190px;
	display: inline-flex;
	flex-direction: column;
	color: $color-white;
	text-transform: uppercase;
	border: 2px solid $color-secondary;
	border-radius: 24px;
	min-width: 74px;
	height: 48px;
	overflow: hidden;
	cursor: pointer;
	transition: all .3s;
	z-index: 100;

	@media (max-width: 979px) {
		display: none;
	}

	li {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		vertical-align: top;
		background: $color-secondary;
		padding: 0 17px 5px 17px;
		order: 2;
		min-height: 48px;
	}
}

.language-select li:hover {
	cursor: pointer;
	background: $color-secondary-hover;
}

.language-select.open {
	height: auto;
}

.language-select li.active {
	order: 1;
	pointer-events: none;
	background: transparent;
	position: relative;
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		width: 11px;
		height: 6px;
		background: url("../images/arrow.svg") no-repeat 100%;
		right: 17px;
		top: 45%;
		transform: translateY(-50%);
	}
}

.header-contacts {
	display: none;
	@media (max-width: 979px) {
		display: block;
		padding: 0 45px;
		.list-social {
			margin: 40px 0;
			li {
				display: inline-block;
				border: none;
				width: 48px;
				border-bottom: none;
				margin-right: 15px;
				padding: 0;
				a {
					font-size: 0;
				}
				.icon {
					color: $color-white;
					&:hover {
						color: $color-link-hover;
					}
				}
			}
		}
		.header-contacts-tel,
		.header-contacts-mail {
			padding: 0;
			margin-top: 20px;
			a {
				color: $color-white;
				@include font-size(21px);				
			}
			.icon {
				width: 24px;
				height: 24px;
				margin-right: 11px;
				color: $color-white;
				vertical-align: middle;				
			}
			&:hover a,
			&:hover .icon, {
				color: $color-link-hover;
			}
		}
	}
	@media (max-width: 639px) {
		padding: 0 10px 0 20px;
		.list-social {
			margin: 30px 0;
			li {
				width: 30px;
				margin-right: 21px;
				&:last-child {
					margin-right: 0;
				}
				.icon {
					width: 30px;
					height: 30px;
				}
			}
		}
		.header-contacts-tel,
		.header-contacts-mail {
			margin-top: 18px;
			a {
				@include font-size(13px);
				line-height: 1;
				vertical-align: middle;				
			}
			.icon {
				margin-right: 9px;
				width: 14px;
				height: 14px;
			}			
		}
	}
	.language-select-mobile {
		display: none;
		@media (max-width: 979px) {
			margin: 100px 0 44px;
			display: block;
			li {
				display: inline-block;
				color: $color-white;
				opacity: 0.2;
				border: none;
				width: auto;
				border-bottom: none;
				margin-right: 15px;
				padding: 0;
				cursor: pointer; 

				&.active {
					opacity: 1;
				}
			}
		}
		@media (max-width: 639px) {
			margin: 0 0 13px;
			li {				
				@include font-size(14px);
				margin-right: 7px;
				padding: 0;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

/* end header */
