/*----------------------------------------
	SERVICES
----------------------------------------*/
.services {
	text-align: center;
	padding: 65px 0 90px;

	.h2 {
		margin-bottom: 38px;		
	}
	.btn {
		margin-top: 60px;
		@media (max-width: 979px) {
			margin-top: 82px;
		}

		@media (max-width: 639px) {
			margin-top:25px;
		}
	}

	@media (max-width: 979px) {
		padding: 54px 0 99px;		
	}

	@media (max-width: 639px) {
		padding: 36px 0 60px;	
		.h2 {
			margin-bottom: 23px;	
		}	
	}

	.slick-dotted.slick-slider{
		margin-bottom: 22px;
	}

}

.services-slider {
	width: 100%;
	margin: 0 auto;
	text-align: center;

	@media (max-width: 979px) {
		padding-top: 0;
	}	
	@media (max-width: 639px) {
		
	}	

	.slick-track {
		width: 100%;
		display: flex;
	  }
	  .slick-track .slick-slide {
		display: flex;
		height: auto;
		align-items: center;
		justify-content: center;	
		
	}

	.slick-list.draggable {
		padding: 0 !important;
	}

	.slick-dots {
		bottom: -77px;
		li {
			margin: 0 17px 0 0;
			&:last-child {
			  margin-right: 0;
			}
		}
		@media (max-width: 979px) {
			bottom: -50px;			
		}
		@media (max-width: 639px) {
			bottom: -21px;
			li {
				margin: 0 10px 0 0;			
				width: 12px;
				height: 12px;
				&:last-child {
					margin-right: 0;
				}
				button:before {
					width: 12px;
					height: 12px;
				}	
			}		
		}
	}

	.slick-dots li button:before {
		content: "";
		display: block;
		width: 22px;
		height: 22px;
		background-color: $color-main;
		border-radius: 50%;
	}

	.slick-prev {
		background: $color-main;
		width: 49px;
		height: 49px;
		z-index: 3;
		top: 43%;
		left: 1%;
		transition: .3s linear;
		box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);
		&:before {
			content: "";
			display: inline-block;
			background: url("../images/arrow-prev.svg") no-repeat;
			width: 9px;
			height: 15px;
			background-position: 50%;
		}
		&:hover {
			background: $color-main-hover;
		}
		&:active {
			background: $color-main-active;
		}

		@media (max-width: 979px) {
			left: 1%;
			top: 50%;			
		}

		@media (max-width: 639px) {
			top: 48%;
    		left: -7%;
		}
	}

	.slick-next {
		background: $color-main;
		width: 49px;
		height: 49px;
		top: 43%;
		right: 1%;
		transition: .3s linear;
		box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);
		&:before {
			content: "";
			display: inline-block;
			background: url("../images/arrow-next.svg") no-repeat;
			width: 9px;
			height: 15px;
			background-position: 50%;
		}
		&:hover {
			background: $color-main-hover;
		}
		&:active {
			background: $color-main-active;
		}

		@media (max-width: 979px) {
			right: 1%;
			top: 50%;
		}

		@media (max-width: 639px) {
			top: 48%;
    		right: -7%;
		}
	}


	.slick-slide {
		padding: 0;
		margin: 0 11px;

		@media (max-width: 767px) {
			margin: 0 20px;
			
		}	
				
	}

	.slick-slide.slick-current.slick-active.slick-center .services-slider-item {
		height: 575px;
		width: 427px;
		@media (max-width: 639px) {	
			width: 280px;
			height: 386px;
		}
	}			
		
}

.services-slider-item {
	background-color: #f4f7f8;
	width: 362px;
	height: 487px;
	padding: 50px;
	text-align: center;
	transition: .3s ease;
	display: inline-block;	
	overflow: hidden;

	.icon {
		height: 96px;
		width: 100%;
		margin: 0 auto;
		color: $color-main;
		@media (max-width: 979px) {						
			height: 126px;
		}

		@media (max-width: 639px) {	
			height: 86px;
		}
		
	}
	@media (max-width: 1239px) {						
		padding: 30px;
		width: 350px;
	}

	@media (max-width: 979px) {						
		padding: 49px 71px 94px;
		height: 487px;
		width: 427px;
	}

	@media (max-width: 639px) {	
		padding: 30px;
		height: 386px;
		width: 280px;		
	}
	
}

.services-slider-item__title {
	position: relative;
	padding-bottom: 24px;
	margin: 20px 0;
	line-height: 30px;
	display: inline-block;
	max-width: 230px;
	&:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 74px;
		height: 2px;
		margin: 0 auto;
		background-color: #d2b777;
	}
	@media (max-width: 979px) {						
		line-height: 30px;
	}
	@media (max-width: 639px) {
		margin-top: 18px;					
		padding-bottom: 10px;
		width: 135px;
		line-height: 25px;
		@include font-size (18px);
		&:after {
			width: 48px;
		}
	}
}

.services-slider-item__text {
	margin: 0;
	line-height: 28px;
	overflow: hidden;
	margin-bottom: 31px;
	@media (max-width: 979px) {						
		@include font-size (18px);
	}
	@media (max-width: 639px) {						
		@include font-size (13px);
		line-height: 21px;
	}
}

/* end services */
