/*----------------------------------------
	TEAM
----------------------------------------*/

.team {
  padding: 68px 0 41px;
  text-align: center;
  margin-bottom: 60px;

  .btn {
    margin-top: 92px;
  }

  .subtitle {
    width: 866px;    
    
    @media (max-width: 1023px) {
      width: 100%;
    }
    @media (max-width: 639px) {
      margin: 20px auto;
      width: 91%;
    }
  }

  .slick-dotted.slick-slider {
    @media (max-width: 639px) {
	  margin-bottom: 20px;
    }
  }

  @media (max-width: 979px) {
    padding: 61px 0 41px;

    .btn {
      margin-top: 84px;
    }
  } 
  
  @media (max-width: 639px) {
    padding: 35px 0 55px;
    margin-bottom: 0;

    .btn {
      margin-top: 19px;
    }
  }

}

.team-slider {
  text-align: left;
  margin-top: 37px;

  .slick-dots {
    bottom: -62px;
    li {
      margin: 0 17px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
    @media (max-width: 639px) {
      bottom: 0;
    }
  }

  .slick-dots li button:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-color: $color-main;
    border-radius: 50%;
  }

  .slick-prev {
    background: $color-main;
    width: 49px;
    height: 49px;
    z-index: 3;
    top: 50%;
    transition: 0.3s linear;
    box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);
    &:before {
      content: "";
      display: inline-block;
      background: url("../images/arrow-prev.svg") no-repeat;
      width: 9px;
      height: 15px;
      background-position: 50%;
    }
    &:hover {
      background: $color-main-hover;
    }
    &:active {
      background: $color-main-active;
    }
  }

  .slick-next {
    background: $color-main;
    width: 49px;
    height: 49px;
    top: 50%;
    transition: 0.3s linear;
    box-shadow: 0 5px 10px rgba(33, 35, 64, 0.08);
    &:before {
      content: "";
      display: inline-block;
      background: url("../images/arrow-next.svg") no-repeat;
      width: 9px;
      height: 15px;
      background-position: 50%;
    }
    &:hover {
      background: $color-main-hover;
    }
    &:active {
      background: $color-main-active;
    }
  }

  @media (max-width: 639px) {
    margin-top: 25px;
  }
}

.team-slider .slick-list {
  @media (max-width: 979px) {
    margin: 0 auto;
    width: 504px;
  }

  @media (max-width: 639px) {
    height: 308px;
    width: 100%;
  }
}

.team-slider-item {
  @media (max-width: 639px) {
    width: auto;
    text-align: center;
  }
}

.team-slider-item-team {
  position: relative;
  margin-right: 22px;
  background-color: #f4f7f8;
  width: 362px;
  height: 342px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 74px;
    width: 48px;
    height: 4px;
    z-index: 5;
    background-color: $color-text;
  }

  &:hover .team-slider-item-team__text {
    opacity: 1;
    height: 100%;
  }

  @media (max-width: 979px) {
    width: 244px;
    margin-right: 16px;
    &:before {
      left: 20px;
    }
  }

  @media (max-width: 639px) {
    width: 280px;
    height: 308px;
    text-align: center;

    &:before {
      width: 36px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &:last-child {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.team-slider-item-team__text {
  opacity: 0;
  width: 100%;
  height: 1px;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.3s linear;
  background-color: #f4f7f8;
  padding: 59px 46px;
  margin: 0;
  display: inline-block;
  @include font-size(14px);
  font-weight: 400;
  line-height: 24px;

  @media (max-width: 979px) {
    padding: 30px 24px;
  }
}

.team-item-img {
  margin: 0 0 0 auto;
}

.team-slider-item__title {
  @include font-size(22px);
  padding-top: 21px;
  margin: 22px 73px 3px 73px;
  width: 165px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    display: inline-block;
    width: 74px;
    height: 2px;
    background-color: #d2b777;
  }

  @media (max-width: 979px) {
    margin: 22px 20px 3px 20px;
  }
  @media (max-width: 639px) {
    margin: 20px auto 5px auto;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    @include font-size(18px);

    &:after {
      width: 48px;
      right: 0;
      margin: 0 auto;
    }
  }
}

.team-slider-item__subtitle {
  margin-left: 73px;
  color: #6b6e93;
  @media (max-width: 979px) {
    margin-left: 20px;
  }
  @media (max-width: 639px) {
    margin: 0;
  }
}

.first-count {
  display: none;
  @media (max-width: 639px) {
	display: inline-block;
  color: #cfd1db;
  font-weight: 400;
  font-family: "Palatino";
  @include font-size(18px);
	position: relative;
	text-align: center;
  width: 100%;
  z-index: 3;   

    #counter {
      color: transparent;
    }

    .text {
      z-index: 5;   
    }

    &:after {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      background-color: #f4f7f8;
      top: 12px;
      left: 0;
      right: 0;      
      z-index: -2;
      margin: 0 auto;
    }
    &:before {
      content: "";
      position: absolute;
      width: 70px;
      height: 16px;
      background-color: #fff;
      top: 3px;
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
      z-index: -1;
    }
  }  
}

.team .slick-dots {
  @media (max-width: 639px) {
  top: 0;
  bottom: 0;
  display: inline-block;	  
  
	
    li {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -46px;
      height: 18px;
      display: none;
      z-index: 3;
      &.slick-active {
        display: inline-block;
      }
    }    
  }
}

/* end team */
