<section>
    <div class="container">
        <h2 class="ui-section-title">1. Colors</h2>
        <ul class="ui-section">
            <li class="ui-color">#d2b777
            </li>
            <li class="ui-color">#e2ca90
            </li>
            <li class="ui-color">#d3b15e
            </li>
            <li class="ui-color">#4d59a1
            </li>
            <li class="ui-color">#616db5
            </li>
            <li class="ui-color">#3b4790
            </li>
            <li class="ui-color">#222240
            </li>
            <li class="ui-color">#000
            </li>
            <li class="ui-color">#fff
            </li>            
        </ul>
    </div>
</section>