<section>
    <div class="container">
        <h2 class="ui-section-title">4. Buttons</h2>
        <div class="ui-section">
            <button class="btn btn_primary">Заказать Whitepaper</button>
            <a href="#" class="btn btn_primary">Заказать услугу</a>
            <button class="btn btn_secondary">Заказать WP</button>
            <button class="btn btn_secondary">Заказать WP</button>
        </div>
    </div>
</section>

