<section>
    <div class="container">
        <h2 class="ui-section-title">5. Form</h2>
        <div class="ui-section">
            <form class="form" method="post" action="./">
                <div class="form-group">
                    <input class="form__input" type="name" placeholder="Ваше имя" name="name" required>
                    <input class="form__input" type="email" placeholder="Введите почтовый адрес" name="email" required>
                    <button class="btn btn_primary" type="submit" name="submit">Отправить</button>
                </div>
                <div class="form-group">
                    <textarea class="form__input form__textarea" type="email" placeholder="Напишите комментарий" name="email"></textarea>
                    <div class="checkbox-block">
                        <input id="check" type="checkbox" checked="checked">
                        <label for="check">Соглашаюсь на обработку своих персональных данных.</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>