@import "_functions.scss";
//
//1. FONTS
//

//NEW INCLUDE FONTS FROM MIXIN
@include font-face('Roboto', '../fonts/RobotoLight', 300, normal, eot woff ttf);
@include font-face('Roboto', '../fonts/RobotoRegular', 400, normal, eot woff ttf);
@include font-face('Roboto', '../fonts/RobotoMedium', 500, normal, eot woff ttf);
@include font-face('Open Sans', '../fonts/OpenSansBold', 700, normal, eot woff ttf);
@include font-face('Palatino', '../fonts/PalatinoBold-Italic', 700, italic, eot woff ttf);
@include font-face('Palatino', '../fonts/PalatinoNormal', 400, normal, eot woff ttf);
@include font-face('Palatino', '../fonts/PalatinoNormal-Italic', 400, italic, eot woff ttf);
@include font-face('Proxima Nova', '../fonts/ProximaNovaRegular', 400, normal, eot woff ttf);

$font-family-main: "Roboto", Times, "Times New Roman", serif;
$font-family-title: 'Palatino', serif;

//SIZE
$font-size-main: 16px;
$font-size-title: 60px;
$font-size-h1: $font-size-title;
$font-size-h2: 48px;
$font-size-h3: 22px;

// @include font-size();

//LINE HEIGHT
$line-height-main: 1.4;
$line-height-title: 1;

//WEIGHT
$font-weight-main: 300;
$font-weight-title: 700;

//
//2. COLORS
//

$color-main: #d2b777; //rgb(61, 110, 136)
$color-main-hover: #e2ca90;
$color-main-active: #d3b15e;
$color-secondary: #4d59a1; //rgb(210, 124, 52)
$color-secondary-hover: #616db5;
$color-secondary-active: #3b4790;
$color-text: #222240;
$color-black: #000; //rgb(0,0,0)
$color-white: #fff; //rgb(255,255,255)

$color-text: $color-text;
$color-title: $color-text;
$color-link: $color-white;
$color-link-hover: $color-secondary-hover;
$background-body: $color-white;

//3. BUTTONS

// default

$button: (
        max-width: 100%,
        min-width: 362px,
  //padding: 0 80px,
        height: 76px,
        line-height: 76px,
        font-family: $font-family-main,
        font-size: 18px,
        font-weight: 500,
        border-width: 0,
        border-color: $color-secondary,
        border-radius: 38px
);

//width: button(width);

//primary - gold
$btn-primary-bg: $color-main;
$btn-primary-bgHover: $color-main-hover;
$btn-primary-bgActive: $color-main-active;

$btn-primary-color: $color-text;
$btn-primary-colorHover: $color-text;
$btn-primary-colorActive: $color-text;

//secondary - white
$btn-secondary-bg: $color-secondary;
$btn-secondary-bgHover: $color-secondary-hover;
$btn-secondary-bgActive: $color-secondary-active;

$btn-secondary-color: $color-white;
$btn-secondary-colorHover: $color-white;
$btn-secondary-colorActive: $color-white;

//$btn-secondary-border: btn(border-width) solid $color-white;
//$btn-secondary-borderHover: btn(border-width) solid $color-white;
//$btn-secondary-borderActive: btn(border-width) solid $color-white;

//
//4.FORMS
//

$form-width: 100%;
$form-bg: #fff;
$group-width: 100%;
$group-margin-bottom: 19px;

//inputs
$input: (
        width: 362px,
        height: 76px,
        padding: 0 24px,
        font-family: $font-family-main,
        font-size: 18px,
        line-height: 76px,
        font-weight: $font-weight-main,
        font-style: normal,
        color: $color-text,
        border: 1px solid #ebecf4,
        border-radius: 5px,
        placeholder: $color-text,
        transition: all .3s,
        background: transparent
);
//width: input(width);

//textarea
$textarea: (
        width: 362px,
        height: 172px,
        padding: 30px,
        font-family: $font-family-main,
        font-size: 18px,
        line-height: $line-height-main,
        font-weight: $font-weight-main,
        font-color: $color-text,
        border: 1px solid #ebecf4,
        border-radius: 5px,
        placeholder: $color-text,
        transition: all .3s,
        background: transparent
);

//
// 5. @MEDIA QUERIES
//
$breakpoints: (
        "phone": 320px,
        "tablet": 768px,
        "laptop": 980px,
        "desktop": 1280px,
);
// @include mq('tablet') {}

//
// 6. Z-INDEX ELEMENTS
//

$z-layers: (
        back: -1,
        default: 1,
        button: 3,
        label-error:4,
        overlay: 4000,
        modal: 4001
);

// z-index: z(overlay);