/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn,
.btn[type="button"] {
  position: relative;
  z-index: z(button);
  display: inline-flex;
  vertical-align: middle;
  min-width: btn(min-width);
  max-width: btn(max-width);
  height: btn(height);
  font-family: btn(font-family);
  @include font-size(btn(font-size));
  line-height: btn(line-height);
  font-weight: btn(font-weight);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
  border-radius: btn(border-radius);
  background: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: inherit;
  color: $color-text;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  transition: .2s linear;
  &:hover {
    color: $color-text;
    background: $color-main-hover;
  }
  &:active {
    color: $color-text;
    background: $color-main-hover;
  }
  &:focus {
    color: $color-text;
    background: $btn-secondary-bgActive;
    outline: 0;
  }
  @media (max-width: 979px) {
    min-width: 269px;
    @include font-size (16px);
    
  }
}

.btn_primary {
  color: $color-text;
  background: $color-main;
  text-transform: uppercase;
  &:hover {
    color: $color-text;
    background: $color-main-hover;
  }
  &:active {
    color: $color-text;
    background: $color-main-active;
  }
  &:focus {
    color: $color-text;
    background: $color-main-active;
  }
  @media (max-width: 639px) {
    min-width: 280px;
    height: 60px;
    line-height: 60px;
  }

}

.btn_secondary {
  color: $color-white;
  background: $color-secondary;
  min-width: 170px;
  padding: 0 25px;
  line-height: 48px;
  height: 48px;
  &:hover {
    color: $color-white;
    background: $color-secondary-hover;
  }
  &:active {
    color: $color-white;
    background: $btn-secondary-bgActive;
  }
  &:focus {
    background: $btn-secondary-bgActive;
    color: $color-white;
  }

}
/* end buttons*/