/*----------------------------------------
	FORM
----------------------------------------*/
.form{
	width: 100%;
}
.form-group{
	width: 50%;
	margin-right: 22px;
}
.checkbox-block input[type="checkbox"]:checked + label:after {
	opacity: 1;
}
.form__input{
	width: input(width);
	height: input(height);
	padding: input(padding);
	font-family: input(font-family);
	font-size: input(font-size);
	line-height: input(line-height);
	font-weight: input(font-weight);
	font-style: input(font-style);
	color: input(color);
	border: input(border);
	border-radius: input(border-radius);
	display: inline-block;
	margin-bottom: 20px;

	@media (max-width: 1023px) {
		width: 268px;
		@include font-size (14px);
	}

	@media (max-width: 767px) {
		height: 56px;
		line-height: 56px;
		width: 268px;
		@include font-size (14px);
	}
}


/*
STYLE FOR TEXTAREA
*/
.form__textarea {
	resize: none;
	width: textarea(width);
	height: textarea(height);
	padding: textarea(padding);
	font-family: textarea(font-family);
	font-size: textarea(font-size);
	line-height: 1.4;
	font-weight: textarea(font-weight);
	//color: textarea(color);
	border: textarea(border);
	border-radius: textarea(border-radius);
	

	@media (max-width: 1023px) {
		width: 245px;
		@include font-size (14px);
	}
	@media (max-width: 767px) {
		height: 132px;
		line-height: 1.4;		
		padding: 21px 24px;
	}
}

/* checkbox */

.checkbox-block input[type="checkbox"] {
	display: none;
}

.checkbox-block {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	padding-left: 20px; 
	@media (max-width: 979px) {
		width: 245px;
	}
	@media (max-width: 979px) {
		width: 268px;
		margin-top: 32px;
	}
	
	@media (max-width: 767px) {
		padding-left: 0;
    }

	label {
		position: relative;
		margin: 0;
		padding-left: 51px;
		width: 80%;
		display: inline-block;
		@include font-size(14px);		

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 2px;
			box-sizing: border-box;
			width: 37px;
			height: 36px;
			border-radius: 4px;
			border: 2px solid $color-white;
		}

		&:after {
			content: "";
			position: absolute;
			left: 8px;
			top: 10px;
			width: 21px;
			height: 20px;
			background-color: $color-white;
			opacity: 0;
			transition: .3s;
		}

		@media (max-width: 1023px) {
			width: 100%;
		}

		@media (max-width: 979px) {
			width: 240px;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}
}

.modal-form {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);	
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 120px 0 0 0;
	width: 0;
	height: 0;
	z-index: z(modal);	
	display: inline-block;	
	overflow: hidden;
	opacity: 0;
	transition: .2s linear;
	text-align: center;
	&.form-open { 
		width: 100%;
		height: 100%;
		top: 50%;
		opacity: 1;
		text-align: center;
		background: rgba(34, 34, 64, 0.5);
		pointer-events: fill;
	}
	
	.form__close {
		background: transparent;
		border: none;
		outline: none;
		width: 20px;
		height: 22px;
		position: absolute;
		top: 20px;
		right: 20px;	
		z-index: 100;

		.icon {
			width: 20px;
			height: 22px;
			cursor: pointer; 		
		}
	}
	@media (max-width: 639px) {
		.form {
			display: block;
		}
	}
}

/* form massage*/

.modal-form-message {
	@media (max-width: 639px) {
		padding: 100px 0;
	}
}

.form-message-wrapper,
.form-information-wrapper {
	position: relative;
	display: inline-block;

	@media (max-width: 979px) {
		width: 552px;
	}
	@media (max-width: 639px) {
		width: 280px;
		.form__input {
			width: 100%;
			text-align: left;
			@include font-size (12px);
			padding: 0 11px;
			color: $color-text;
		}

		.form__textarea {
			padding: 17px 11px;
			height: 69px;
		}

		.form-group {
			padding: 0 40px;
		}

		.btn {
			min-width: 201px;
		}
		.form-title {
			@include font-size (26px);
			padding-bottom: 17px;
			margin-bottom: 25px;
		}

		.form__close {
			top: 15px;
			right: 15px;
			width: 11px;
			height: 12px;
			.icon-close {
				width: 11px;
				height: 12px;
				color: #525252;
			}
		} 
	}
}

.form-modal {
	width: 551px;
	display: block;
	min-height: 658px;
	background: $color-white;
	padding: 67px 0;
	margin: 0 auto;
	box-shadow: 0 10px 30px rgba(136, 136, 136, 0.2);

	@media (max-width: 639px) {
		padding: 32px 0;
		min-height: 360px;
	}

	

	.form-group {
		width: 100%;
		height: auto;
		padding: 0 142px;
		text-align: center;
	}
	

	.form__input {
		display: inline-block;
		width: 100%;
		text-align: center;
		height: 56px;
		line-height: 56px;
	}

	.form__textarea {		
		width: 100%;
		height: 132px;
		line-height: 1.4;	
		padding: 21px 24px;	
	}
	.btn {
		min-width: 269px;
	}

	span {
		font-family: "Roboto";
		@include font-size(12px);
		display: inline-block;
		text-align: center;
		width: 100%;
		opacity: 0.5;
		margin-top: 19px;
	}

	.form-title {
		margin: 0;
		position: relative;
		padding-bottom: 22px;
		margin-bottom: 35px;
		&:after {
			content: "";
			position: absolute;
			height: 2px;
			width: 170px;
			background-color: $color-main;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;

		}
	}
	
}


/* form information*/

.form-information {	
	min-height: 506px;
}


.form-information-wrapper {
	position: relative;
	display: inline-block;
}






/* form validation*/

// .form__input{
// 	&.error {
// 		border: 1px solid #e2939a;
// 		position: relative;
// 	}
// 	&.valid {		
// 		border: 1px solid #616db5;
// 	}
// }

// #email-error {
// 	//position: absolute;
// 	background: #e2939a;
// 	border-radius: 20px;
// 	padding: 0 15px;
// 	line-height: 25px;
// 	color: $color-white;
// 	bottom: 0;

// }

.form {
	
	
	.form__input:focus { 
		outline: none;
		border: 1px solid #616db5;
	}
	
	input:valid {
		border: 1px solid #616db5
	}

	.form__input {
		border: 1px solid #ebecf4;
	}


	
}






/* end forms */