/* ==========================================================================
   TYPOGRAPHY
   ===========================================================================*/
/* TITLES */
h1,
.h1{
	font-family: $font-family-title;
	color: $color-white;
	line-height: $line-height-title;
	font-weight: $font-weight-title;
	margin-top: 0px;
	@include font-size($font-size-h1);
	font-style: italic;

}

h2,
.h2{
	font-family: $font-family-title;
	@include font-size($font-size-h2);
	color: $color-title;
	line-height: $line-height-title;
	font-weight: 400;
	font-style: italic;
	text-align: center;

}
h3,
.h3{
	font-family: $font-family-title;
	@include font-size($font-size-h3);
	color: $color-title;
	line-height: $line-height-title;
	font-weight: 400;
}

h4,
.h4{
	font-family: $font-family-title;
	@include font-size($font-size-h3);
	color: $color-title;
	line-height: $line-height-title;
	font-weight: 400;
}

/* TEXT */
.italic{
	font-style: italic;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.text_rigth{
	text-align: right !important;
}
.text_bold{
	font-weight: 700;
}
.text_uppercase{
	text-transform: uppercase;
}
.no-upercouse{
	text-transform: none;
}
/* LINKS */
a {
	font-family: $font-family-main;
	@include font-size($font-size-main);
	color: $color-link;
	line-height: $line-height-main;
	font-weight: $font-weight-main;
	text-decoration: none;
	transition: .3s linear;
	&:hover {
		text-decoration: none;
		color: $color-link-hover;
	}
}
a[href^="mailto:"],
a[href^="tel:"]{
	color: $color-text;
	text-decoration: none;
	&:hover{
		color: $color-text;
		text-decoration: none;
	}
}
ul,
ol{
	margin: 0;
	padding-left: 0;
	list-style: none;
	li{
		list-style: none;
	}
}

.h2 {
	position: relative;
	padding: 29px 0;
	margin: 0;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 170px;
		height: 2px;
		margin: 0 auto;
		background-color: #d2b777;

		@media (max-width: 639px) {					
			width: 60px;
		}
	}

	@media (max-width: 979px) {					
		line-height: 54px;
	}

	@media (max-width: 639px) {					
		@include font-size(26px);
		padding: 19px 0;
		line-height: 32px;
	}
}

.subtitle {
	text-align: center;
	width: 855px;
	margin: 28px auto;
	line-height: 28px;
	@media (max-width: 979px) {					
		width: 100%;
	}

	@media (max-width: 639px) {		
		line-height: 22px;
		@include font-size (13px);
		margin: 16px auto;
	}
}

.decor1,
.decor2  {
	display: inline-block;
	position: absolute;
	top: 0;
	line-height: 1;
	height: auto;
	font-family: "Palatino";
	font-weight: 400;
	font-style: normal;
	z-index: -1; 
	color: #21223f;
	opacity: 0.05;
	@include font-size(100px);
}

.decor1 {
	left:0;
	width: 348px;
	height: 73px;
	line-height: 0;
	@media (max-width: 979px) {					
		display: none;
	}
}

.decor2 {		
	right: 0;
	line-height: 1;
	@include font-size(400px);
	width: 356px;
	height: 284px;
	line-height: 0.5;
	@media (max-width: 979px) {					
		@include font-size(160px);
		width: auto;
		height: auto;
	}
	@media (max-width: 639px) {					
		display: none;
	}
}
/* end typography */