.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-agenda {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-black-back-closed-envelope-shape {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-board {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-call {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-close {
	font-size:(212.98/10)*1rem;
	width:(212.98/212.98)*1em;
}
.icon-iconmonstr-facebook-4 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-iconmonstr-telegram-4 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-iconmonstr-twitter-4 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-light-bulb {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-look {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-menu {
	font-size:(35/10)*1rem;
	width:(52/35)*1em;
}
.icon-projects {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-research {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-typewriter {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-user {
	font-size:(508/10)*1rem;
	width:(508/508)*1em;
}
