<!-- advantages -->
<section class="advantages">    
    <a id="advantages_yakor"></a>
    <div class="container">
        <h2 class="h2">Преимущества работы с нами</h2>
        <p class="subtitle">Создание WhitePaper ICO требует участия множества профессионалов. Для того чтобы разработать
            экономику проекта и сделать анализ рынка, мы привлекаем лучших специалистов из мира финансов. Для написания текста
            подберем автора, умеющего убеждать и хорошо знакомого с тематикой вашего проекта.</p>

        <ul class="advantages-list">
            <li class="advantages-item svg-employee-after">             
                <p class="advantages-item__text">Вы получаете качественную услугу. Многие пытаются составлять WP сами, но
                    допускают много критических ошибок даже не осознавая этого.</p>
            </li>
            <li class="advantages-item svg-bar-chart-after">
                <p class="advantages-item__text">Делаем WP удобным для восприятия: используем понятную инфографику.</p>                
            </li>
            <li class="advantages-item svg-list-with-squares-after">
                <p class="advantages-item__text">Пишем коротко и понятно. Объем не должен отпугивать или мешать вашей аудитории.
                    </p>
            </li>
            <li class="advantages-item svg-communication-after">
                <p class="advantages-item__text">Опираемся на ЦА: ведем диалог с ней на одном языке, учитывая все ключевые
                    аспекты и потребности.</p>
            </li>
            <li class="advantages-item svg-data-after">
                <p class="advantages-item__text">Убедительная структура - только проверенные факты, реальные кейсы, расчеты
                    и выводы. </p>
            </li>
            <li class="advantages-item svg-graphic-design-after">
                <p class="advantages-item__text">Используем только качественные и профессиональные редакционные материалы.</p>
            </li>
        </ul>
        <span class="decor1">Advantages</span>
        <span class="decor2">02</span>
    </div>
</section>