<!-- advantages -->
<section class="advantages">    
    <a id="advantages_yakor"></a>
    <div class="container">
        <h2 class="h2">Advantages to work with us</h2>
        <p class="subtitle">Creation of WP for ICO requires participation of professionals in different areas. We attract the best specialist from around the world of business and finance to conduct the market analysis and develop project economics, as well as authors who are familiar with your business area and share the common language with your target audiences.</p>

        <ul class="advantages-list">
            <li class="advantages-item svg-employee-after">             
                <p class="advantages-item__text">We will provide you with a qualitative service and will help to avoid major mistakes that negatively affect investment attractiveness of your project.</p>
            </li>
            <li class="advantages-item svg-bar-chart-after">
                <p class="advantages-item__text">We make WP cognitively simple by using infographics.</p>                
            </li>
            <li class="advantages-item svg-list-with-squares-after">
                <p class="advantages-item__text">The document will be drawn up in brief and easy to follow style. Its volume and structure will be convenient for your audience.
                    </p>
            </li>
            <li class="advantages-item svg-communication-after">
                <p class="advantages-item__text">We are attentive to your target audience – we consider its core needs and possible objections.</p>
            </li>
            <li class="advantages-item svg-data-after">
                <p class="advantages-item__text">Accurate data – only proven facts, real cases, calculations and conclusions. </p>
            </li>
            <li class="advantages-item svg-graphic-design-after">
                <p class="advantages-item__text">We use only high-quality and professional editorial-advertising mix</p>
            </li>
        </ul>
        <span class="decor1">Advantages</span>
        <span class="decor2">02</span>
    </div>
</section>