<!-- portfolio -->
<section class="cases">
    <a id="cases_yakor"></a>
    <div class="container">
        <h2 class="h2">Our cases</h2>
        <p class="subtitle">We chose our best WhitePapers. Teams of these project have already established communication with the audience and found their investors.</p>
        <div class="cases-slider">
            <div class="cases-item">
                <div class="cases-content">
                    <h3 class="cases-item__title">WhitePaper Название команды</h3>
                    <p class="cases-item__text">Команда, разрабатывающая стартап, который нужен для этого, и решает текущую
                        проблему. С такой-то статистикой до и после заказа WhitePaper’а.</p>
                    <div class="cases-item__dow">
                        <a href="#" download="">
                            <span class="doc-download">
                                <svg class="icon icon-look"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#look"></use>
                                </svg>
                            </span>
                            <span class="doc-text">.pdf, 26 mb</span>
                        </a>
                    </div>
                </div>
                <div class="cases-img cases-img-1">
                    <h3 class="cases-item__title">Без WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span>
                </div>
                <div class="cases-img cases-img-2">
                    <h3 class="cases-item__title">Вместе с WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span></div>
            </div>
            <div class="cases-item">
                <div class="cases-content">
                    <h3 class="cases-item__title">WhitePaper Название команды</h3>
                    <p class="cases-item__text">Команда, разрабатывающая стартап, который нужен для этого, и решает текущую
                        проблему. С такой-то статистикой до и после заказа WhitePaper’а.</p>
                    <div class="cases-item__dow">
                        <a href="#" download="">
                            <span class="doc-download">
                                <svg class="icon icon-look"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#look"></use>
                                </svg>
                            </span>
                            <span class="doc-text">.pdf, 26 mb</span>
                        </a>
                    </div>
                </div>
                <div class="cases-img cases-img-1">
                    <h3 class="cases-item__title">Без WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span>
                </div>
                <div class="cases-img cases-img-2">
                    <h3 class="cases-item__title">Вместе с WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span></div>
            </div>
            <div class="cases-item">
                <div class="cases-content">
                    <h3 class="cases-item__title">WhitePaper Название команды</h3>
                    <p class="cases-item__text">Команда, разрабатывающая стартап, который нужен для этого, и решает текущую
                        проблему. С такой-то статистикой до и после заказа WhitePaper’а.</p>
                    <div class="cases-item__dow">
                        <a href="#" download="">
                            <span class="doc-download">
                                <svg class="icon icon-look"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#look"></use>
                                </svg>
                            </span>
                            <span class="doc-text">.pdf, 26 mb</span>
                        </a>
                    </div>
                </div>
                <div class="cases-img cases-img-1">
                    <h3 class="cases-item__title">Без WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span>
                </div>
                <div class="cases-img cases-img-2">
                    <h3 class="cases-item__title">Вместе с WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span></div>
            </div>
            <div class="cases-item">
                <div class="cases-content">
                    <h3 class="cases-item__title">WhitePaper Название команды</h3>
                    <p class="cases-item__text">Команда, разрабатывающая стартап, который нужен для этого, и решает текущую
                        проблему. С такой-то статистикой до и после заказа WhitePaper’а.</p>
                    <div class="cases-item__dow">
                        <a href="#" download="">
                            <span class="doc-download">
                                <svg class="icon icon-look"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#look"></use>
                                </svg>
                            </span>
                            <span class="doc-text">.pdf, 26 mb</span>
                        </a>
                    </div>
                </div>
                <div class="cases-img cases-img-1">
                    <h3 class="cases-item__title">Без WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span>
                </div>
                <div class="cases-img cases-img-2">
                    <h3 class="cases-item__title">Вместе с WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span></div>
            </div>
            <div class="cases-item">
                <div class="cases-content">
                    <h3 class="cases-item__title">WhitePaper Название команды</h3>
                    <p class="cases-item__text">Команда, разрабатывающая стартап, который нужен для этого, и решает текущую
                        проблему. С такой-то статистикой до и после заказа WhitePaper’а.</p>
                    <div class="cases-item__dow">
                        <a href="#" download="">
                            <span class="doc-download">
                                <svg class="icon icon-look"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#look"></use>
                                </svg>
                            </span>
                            <span class="doc-text">.pdf, 26 mb</span>
                        </a>
                    </div>
                </div>
                <div class="cases-img cases-img-1">
                    <h3 class="cases-item__title">Без WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span>
                </div>
                <div class="cases-img cases-img-2">
                    <h3 class="cases-item__title">Вместе с WhitePaper</h3>
                    <span class="cases-item__value1">Узнаваемость</span><span class="cases-item__value2">Инвестиции</span>
                    <span class="cases-item__value3">Доверие</span><span class="cases-item__value4">Внимание</span>
                    <span class="cases-item__value5">Вовлечение</span></div>
            </div>            
        </div>
        <span class="decor1">Cases</span>
        <span class="decor2">04</span>
    </div>
</section>