<!-- content-->
<section class="content">
    <a id="content_yakor"></a>
    <div class="container">
        <h2 class="h2">WhitePaper будет отражать</h2>
        <p class="subtitle">Качественный WhitePaper, который поможет вам достигнуть желаемых целей и осуществить проект будет содержать в
            себе следующие данные. Мы обязательно достигнем отличного результата, если вы готовы поделиться всеми мыслями,
            касательно структуры проекта.</p>
        <div class="content-list">
            <div class="content-item">
                <svg class="icon icon-research">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#research"></use>
                </svg>
                <h3 class="content-item__title">Видение рынка</h3>
                <p class="content-item__text">WhitePaper покажет востребованность вашей идеи, учитывая нюансы проекта.
                </p>
            </div>
            <div class="content-item">
                <svg class="icon icon-light-bulb">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#light-bulb"></use>
                </svg>
                <h3 class="content-item__title">Идея</h3>
                <p class="content-item__text">Качественное преподнесение вашей идеи людям. Чтобы ваши абиции смогли расположить их к вам.
                </p>
            </div>
            <div class="content-item">
                <svg class="icon icon-board">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#board"></use>
                </svg>
                <h3 class="content-item__title">План развития</h3>
                <p class="content-item__text">Этапы, планы и прогнозы развития вашего проекта повысят кредит доверия
                        к вам.
                </p>
            </div>
            <div class="content-item">
                <svg class="icon icon-projects">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#projects"></use>
                </svg>
                <h3 class="content-item__title">Концепция проекта</h3>
                <p class="content-item__text">Полное описание
                        со структурой и тонкостями проекта. Каждая деталь - важная.
                </p>
            </div>
        </div>
        <button class="btn btn_primary btn-message">Заказать whitepaper</button>
        <span class="decor1">Content</span>
        <span class="decor2">03</span>
    </div>
</section>