<!-- content-->
<section class="content">
    <a id="content_yakor"></a>
    <div class="container">
        <h2 class="h2">WhitePaper will reflect</h2>
        <p class="subtitle">Based on the data of your project we will prepare qualitative WP, that will help you to implement the project and achieve desired goals. The WP will disclose following information:</p>
        <div class="content-list">
            <div class="content-item">
                <svg class="icon icon-research">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#research"></use>
                </svg>
                <h3 class="content-item__title">Market vision</h3>
                <p class="content-item__text">WhitePaper will show the relevance of your id3ea, taking into account the features of the project. 
                </p>
            </div>
            <div class="content-item">
                <svg class="icon icon-light-bulb">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#light-bulb"></use>
                </svg>
                <h3 class="content-item__title">Idea</h3>
                <p class="content-item__text">WhitePaper will present your idea at its best.
                </p>
            </div>
            <div class="content-item">
                <svg class="icon icon-board">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#board"></use>
                </svg>
                <h3 class="content-item__title">Road map</h3>
                <p class="content-item__text">Disclosure of stages, plans and prospects of your project development will increase the confidence of potential investors.
                </p>
            </div>
            <div class="content-item">
                <svg class="icon icon-projects">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#projects"></use>
                </svg>
                <h3 class="content-item__title">Project concept</h3>
                <p class="content-item__text">Full description with structure and features of the project. Every detail is important.
                </p>
            </div>
        </div>
        <button class="btn btn_primary btn-message">Order WhitePaper</button>
        <span class="decor1">Content</span>
        <span class="decor2">03</span>
    </div>
</section>