<!-- first screen -->
<section class="first-screen">
    <div class="container">
        <div class="first-screen-content">
            <p class="first-screen-content__subtitle">Начните подготовку к ICO </p>
            <h1 class="first-screen-content__title">Профессиональный WhitePaper за 30 дней</h1>
            <p class="first-screen-content__text">Вы получите WhitePaper, составленный специалистами в области ведения бизнеса,
                который коротко и емко опишет всю тематику проекта и привлечет инвесторов.</p>
            <a class="btn btn_primary btn-message" href="#">Заказать Whitepaper</a>
        </div>
    </div>
</section>