<!-- first screen -->
<section class="first-screen">
    <div class="container">
        <div class="first-screen-content">
            <p class="first-screen-content__subtitle">Start preparation for ICO </p>
            <h1 class="first-screen-content__title">Professional WP in 30 days</h1>
            <p class="first-screen-content__text">You will receive WP, compiled by specialists in business management, that will briefly describe the whole subject of your project and help to drive investors.</p>
            <a class="btn btn_primary btn-message" href="#">Order WhitePaper</a>
        </div>
    </div>
</section>