<!-- services -->
<section class="services">
    <a id="services_yakor"></a>
    <div class="container">
        <h2 class="h2">Мы можем предложить</h2>
        <div class="services-slider">
            <div> 
                <div class="services-slider-item">
                    <svg class="icon icon-agenda">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#agenda"></use>
                    </svg>
                    <h3 class="services-slider-item__title">Создание WhitePaper для ICO</h3>
                    <p class="services-slider-item__text">Мы проводим интервью, собираем с вас данные о проекте, и задаем
                        вопросы в ходе работы. Вы получаете документацию, которая будет удобна для ознакомления инвесторами.
                    </p>
                </div>
            </div>
            <div> 
                <div class="services-slider-item">
                    <svg class="icon icon-user">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#user"></use>
                    </svg>
                    <h3 class="services-slider-item__title">Аудит готового WhitePaper</h3>
                    <p class="services-slider-item__text">Проведем аудит в ходе которого выявим недочеты текущего WP. Мы
                        может предоставить вам рекомендации по корректировкам, которые будут уместны для вашего проекта.
                    </p>
                </div>
            </div>
            <div> 
                <div class="services-slider-item">
                    <svg class="icon icon-typewriter">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#typewriter"></use>
                    </svg>
                    <h3 class="services-slider-item__title">Доработка готового WhitePaper</h3>
                    <p class="services-slider-item__text">Написание WhitePaper происходит не с первого раза и редактируется
                        до самого лучшего варианта. Некачественно составленный WhitePaper не сможет привлечь необходимых
                        инвесторов.
                    </p>
                </div>
            </div> 
        </div>
        <button class="btn btn_primary btn-information">Заказать услугу</button>
        <span class="decor1">Services</span>
        <span class="decor2">01</span>
    </div>
</section>