<!-- services -->
<section class="services">
    <a id="services_yakor"></a>
    <div class="container">
        <h2 class="h2">We can offer</h2>
        <div class="services-slider">
            <div> 
                <div class="services-slider-item">
                    <svg class="icon icon-agenda">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#agenda"></use>
                    </svg>
                    <h3 class="services-slider-item__title">Creating WP for your project</h3>
                    <p class="services-slider-item__text">During the interview we will collect all necessary information that will help us to make your WP convenient and understandable for investors.
                    </p>
                </div>
            </div>
            <div> 
                <div class="services-slider-item">
                    <svg class="icon icon-user">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#user"></use>
                    </svg>
                    <h3 class="services-slider-item__title">Audit of your WP</h3>
                    <p class="services-slider-item__text">After the audit of your WP we will be able to provide recommendations that will help to make your WP even more attractive.                       

                    </p>
                </div>
            </div>
            <div> 
                <div class="services-slider-item">
                    <svg class="icon icon-typewriter">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#typewriter"></use>
                    </svg>
                    <h3 class="services-slider-item__title">Improvement of your WP</h3>
                    <p class="services-slider-item__text">It’s not easy to write WP yourself. We will help to create the best version of the document that will drive necessary groups of investors. 
                    </p>
                </div>
            </div> 
        </div>
        <button class="btn btn_primary btn-information">Order WhitePaper</button>
        <span class="decor1">Services</span>
        <span class="decor2">01</span>
    </div>
</section>