<!-- team -->
<section class="team">
    <a id="team_yakor"></a>
    <div class="container">
        <h2 class="h2">Наша команда</h2>
        <p class="subtitle">Представляем наших экспертов - юристов, маркетологов, психологов, экономистов и людей, которые
            разбираются в бизнесе.</p>
        <div class="team-slider">
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/georg.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Георгий Лапин</h3>
                    <span class="team-slider-item__subtitle">CEO & Co-Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/georg.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Георгий Лапин</h3>
                    <span class="team-slider-item__subtitle">CEO & Co-Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/georg.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Георгий Лапин</h3>
                    <span class="team-slider-item__subtitle">CEO & Co-Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/georg.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Георгий Лапин</h3>
                    <span class="team-slider-item__subtitle">CEO & Co-Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/georg.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Георгий Лапин</h3>
                    <span class="team-slider-item__subtitle">CEO & Co-Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>
            <div class="team-slider-item">
                <div class="team-slider-item-team">
                    <img src="uploads/ilya.jpg" alt="" class="team-item-img">
                    <h3 class="team-slider-item__title">Илья Смирнов</h3>
                    <span class="team-slider-item__subtitle">CFO & Founder.</span>
                    <p class="team-slider-item-team__text">Председатель Международной Ассоциации Развития Блокчейн Решений. Эксперт
                        в области бизнес-планирования с опытом более 25-ти лет. Запустил и развивал такие проекты, как «GetTaxi»,
                        «Vigoda.ru», «Улыбка Радуги» и многие другие. Лауреат премии «20 успешных людей Петербурга 2014».
                    </p>
                </div>
            </div>            
        </div>
        <div class="first-count"><span id="counter">1</span> <span class="text">/</span>15</div>
        
        <button class="btn btn_primary btn-message">Заказать whitepaper</button>
        <span class="decor1">Team</span>
        <span class="decor2">05</span>
    </div>
</section>