<!-- footer -->
<footer>
    <a id="footer_yakor"></a>
    <div class="container">
        <h2 class="h2">Свяжитесь с нами</h2>        
        <div class="contacts">
            <p class="contacts__text">Мы можем обсудить вашу проблему прямо сейчас!</p>
            <div class="contacts-wrapper">
                <h3 class="contcts-title">Контакты</h3>
                <div class="contacts-tel">
                    <a class="" href="tel:+7 (800) 707-17-87"><svg class="icon icon-call">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#call"></use>
                        </svg>8 (800) 707-17-87</a>
                </div>
                <div class="contacts-mail">
                    <a class="" href="mailto:info@sbcon.org"><svg class="icon icon-black-back-closed-envelope-shape">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#black-back-closed-envelope-shape"></use>
                        </svg>info@sbcon.org</a>
                </div>
                <ul class="list-social">
                    <li><a target="_blank" href="https://www.facebook.com/#"><svg class="icon icon-iconmonstr-facebook-4">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#iconmonstr-facebook-4"></use>
                            </svg>facebook</a></li>
                    <li><a target="_blank" href="https://tlgrm.ru/#"><svg class="icon icon-iconmonstr-telegram-4">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#iconmonstr-telegram-4"></use>
                            </svg>telegram</a></li>
                    <li><a target="_blank" href="https://twitter.com/#"><svg class="icon icon-iconmonstr-twitter-4">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#iconmonstr-twitter-4"></use>
                            </svg>twitter</a></li>
                </ul>
            </div>
            <div class="form-wrapper">
                <form class="form" method="post" action="mailto:info@sbcon.org" enctype="text/plain">
                    <div class="form-group-top">
                        <input class="form__input" type="name" placeholder="Ваше имя" name="name" required>
                        <input class="form__input" type="email" placeholder="Введите почтовый адрес" name="email" required>
                        <textarea class="form__input form__textarea" type="email" placeholder="Напишите комментарий" name="email"></textarea>
                        
                    </div>
                    <div class="form-group-bottom">
                        <button id="#btnsubmit" class="btn btn_primary" type="submit" name="submit">Отправить</button>  
                        <div class="checkbox-block">
                            <input id="check" type="checkbox" required>
                            <label for="check">Соглашаюсь на обработку своих персональных данных.</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p class="copyright-text">&#169; 2017-2018 «System Bit Consulting». Все права защищены.</p>
    </div>
    <div class="modal-form modal-form-message">
        <div class="form-message-wrapper">
            <button class="form__close close-form"><svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="images/sprite/sprite.svg#close"></use>
                </svg></button>
            <form method="post" action="mailto:info@sbcon.org" enctype="text/plain" class="form form-modal form-message">
                <h2 class="form-title">Отправьте сообщение</h2>
                <div class="form-group">
                    <input class="form__input" type="name" placeholder="Ваше имя" name="name" required>
                    <input class="form__input" type="email" placeholder="Введите почтовый адрес" name="email" required>
                    <textarea class="form__input form__textarea" type="email" placeholder="Напишите комментарий" name="email"></textarea>
                    <input class="btn btn_primary" type="submit" name="submit" value="Отправить">
                </div>
                <span>Отправляя, я соглашаюсь на обработку своих персональных данных.</span>
            </form>
        </div>
    </div>

    <div class="modal-form modal-form-information">
        <div class="form-information-wrapper">
            <button class="form__close close-form"><svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="images/sprite/sprite.svg#close"></use>
                </svg></button>
            <form method="post" action="mailto:info@sbcon.org" enctype="text/plain" class="form form-modal form-information">
                <h2 class="form-title">Отправьте данные</h2>
                <div class="form-group">
                    <input class="form__input" type="name" placeholder="Ваше имя" name="name" required>
                    <input class="form__input" type="email" placeholder="Введите почтовый адрес" name="email" required>
                    <input class="btn btn_primary" type="submit" name="submit" value="Отправить">
                </div>
                <span>Отправляя, я соглашаюсь на обработку своих персональных данных.</span>
            </form>
        </div>
    </div>
</footer>
<!-- end footer -->