<!-- header -->
<header>
    <div class="container-header">
        <button class="btn-menu">
            <svg class="icon icon-menu"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#menu"></use>
            </svg>
            Open menu
        </button>
        <a href="./" class="logo">System Bit Consulting</a>
        <nav class="menu">
            <button class="menu__close close-menu"><svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="images/sprite/sprite.svg#close"></use>
                </svg></button>
            <ul>
                <li><a href="#services_yakor">Services</a></li>
                <li><a href="#advantages_yakor">Advantages</a></li>
                <li><a href="#content_yakor">Content</a></li>
                <li><a href="#cases_yakor">Cases</a></li>
                <li><a href="#team_yakor">Contacts</a></li>
                <li><a href="#footer_yakor">Order WP</a></li>
            </ul>
            <div class="header-contacts">
                <div class="header-contacts-tel">
                    <a class="" href="tel:+7 (800) 707-17-87"><svg class="icon icon-call">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#call"></use>
                        </svg>8 (800) 707-17-87</a>
                </div>
                <div class="header-contacts-mail">
                    <a class="" href="mailto:info@sbcon.org"><svg class="icon icon-black-back-closed-envelope-shape">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#black-back-closed-envelope-shape"></use>
                        </svg>info@sbcon.org</a>
                </div>
                <ul class="list-social">
                    <li><a target="_blank" href="https://www.facebook.com/#"><svg class="icon icon-iconmonstr-facebook-4">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#iconmonstr-facebook-4"></use>
                            </svg>facebook</a></li>
                    <li><a target="_blank" href="https://tlgrm.ru/#"><svg class="icon icon-iconmonstr-telegram-4">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#iconmonstr-telegram-4"></use>
                            </svg>telegram</a></li>
                    <li><a target="_blank" href="https://twitter.com/#"><svg class="icon icon-iconmonstr-twitter-4">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#iconmonstr-twitter-4"></use>
                            </svg>twitter</a></li>
                </ul>
                <ul class="language-select-mobile">
                    <li data-lang="ru"><a href="index.html">RU</a></li>
                    <li class="active" data-lang="en">EN</li>
                    <li data-lang="ch">CH</li>
                    <li data-lang="ar">AR</li>
                    <li data-lang="es">ES</li>
                </ul>
            </div>
        </nav>
        <div class="header-right-panel">
            <ul class="language-select">
                <li data-lang="ru"><a href="index.html">RU</a></li>
                <li class="active" data-lang="en">EN</li>
                <li data-lang="ch">CH</li>
                <li data-lang="ar">AR</li>
                <li data-lang="es">ES</li>
            </ul>
            <button class="btn btn_secondary btn-message">Order WP</button>
            <button class="header-right-panel-btn-message btn-message">
                <svg class="icon icon-black-back-closed-envelope-shape"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#black-back-closed-envelope-shape"></use>
                </svg>
            </button>
            <a class="header-call" href="tel:+7 (800) 707-17-87">
                    <svg class="icon icon-call">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/sprite/sprite.svg#call"></use>
            </svg></a>
        </div>
        
    </div>
</header>