<head>
	<meta charset="utf-8" />
	<title>WhitePaper</title>
	<meta name="keywords" content="keywords ru" />
	<meta name="description" content="description ru" />
	<!--favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
	<link rel="manifest" href="favicons/site.webmanifest">
	<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ebecf4">
	

	<!--viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
	<!--modernizr-->
	<script src="js/modernizr.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if IE]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<link href= "css/ie.css" rel= "stylesheet" media= "all" />
<![endif]-->
	<!--styles-->
	<link rel="stylesheet" type="text/css" href="css/app.css?v=1.0" />
</head>